div#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

div#overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

body {
    padding-top:4rem;
}

<!-- 774-826-2340